body {
    font-size: .875rem;
    min-height: 100vh;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  .d-flex.p-2.bd-highlight.btn-container{
    justify-content: center;
    margin-top: 2vw; 
  }
  
  .btn.btn-primary.btn-lg {
    background-color: rgb(8, 159, 176);
    border:none;
    border-radius: 5px;
    width:40%;
  }

.container.col-12{
  margin-top: 3vw;
  padding: 0vw 3vw;
  height: min-content;
}

.col-4.project{
  background-color: #ffffff;
  height: 15vw;
}

  .project{
    text-align: center ;

  }
  .card {
    margin: 0 5vw;
    height: 85%;
    border-radius: 0.5vw;

    box-shadow: 0 0 1vw 0.1vw rgba(213, 213, 213, 0.1);

  }
  main{
    min-height: 100vh;
    background-color: rgb(227, 227, 227);
  }
  a{
    list-style-type:none;
  }
  .clients-header{
    margin: 1.5rem 0;
  }
  .clients-header h1{
    color: var(--gray-dark);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0; 
  }
  .employees-list{
    background-color: #ffffff;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.2rem ;
  }
  .employees-list > a{
    list-style-type: none;
    text-decoration: none;
  }

 .table.table-striped tbody td:first-child{ 
    padding-left: 2rem
 }

  .btn-container{
    padding: 1rem;
  }
  .btn-container > button{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(153, 153, 153);
    color: var(--gray-dark);
    font-size: 0.8rem;
    
    padding: 0.4rem 1rem;
  }
  .btn-container > button:hover{
    background-color: rgb(46, 167, 155);

    border: 2px solid rgb(46, 167, 155);
    color: white;
    font-size: 0.8rem;
    padding: 0.4rem 1rem;
  }
  .btn-container > button svg{
    height:1.5rem;
    width: 1.5rem;
    
  }
  .btn.btn-outline-primary{
    display:flex;
    align-items: center;
  }
  .btn.btn-outline-primary p{
    font-weight: bold;
    margin: 0;
    margin-left: 1rem;
  }

  .btn.btn-outline-primary a{
    margin-bottom: 0 ;
    font-weight: bold;
    margin-left: 1rem;
  }




  .slide-pages{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
    margin:0.8rem;
  }
  .slide-pages button{
    margin-left:0.8rem;
    border-radius: 50%;
    background-color: rgb(46, 167, 155);
    border: none;

    font-weight: bold;
    font-size: 1rem;

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  }
  
  th > a{
    /* jumping animation here would be cool */
    color:  rgb(4, 176, 159);
  }

  .clients-header > nav{
    background-color: rgb(227, 227, 227);
  }
  .clients-header > nav >ol{
    background-color: rgb(227, 227, 227);
    padding: 0;
    padding-top: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
  }
  .breadcrumb-item.active{
    font-weight: bold;
  }
  hr{
    margin: 0;
    margin-top: 1rem;
  }

  #planposition-dropdown{
    display: flex;
    align-items: center;
  }
  .dropdown{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 0.2rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

    margin:0 1rem 0.1rem;
  }
  .dropup{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);

    margin:0.1rem 1rem 0rem;


  }
  #client-1{
    display: none;
    margin-top:1rem;
    background-color: #fff;
  }
  td > a{
    /* jumping animation here would be cool */
    color:  rgb(4, 176, 159);
  }

  


  



